
/* Стили для заднего фона */

.bg{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/88/17/e3/8817e3acda0979f22ad6fa049f70a325.jpg");
    background-size: cover;

}

/* Стили div-ов */

.container {
    font-family: 'Comfortaa', sans-serif;
    display: flex;                  
    justify-content: space-around;  
    align-items: center;            
    height: 100%; 
    text-align: center;                  
}
.box {
    width: 30%; 
    padding: 20px; 
    color: white; 
    background-color: rgb(18, 18, 18);
    border-radius: 8px; 
    margin-top: 30px; 
    text-align: center; 
    align-items: center;
    
}

/* Стили для ссылок внутри div-ов */

.boxlink{
    text-decoration: none;
    font-weight: 400;
    color:aliceblue;
}

.boxlink:hover{
    transition: 1s;
    text-decoration: none;
    font-weight: 400;
    color:rgb(132, 182, 225);
}

/* Стили для изображений внутри div-ов */

.boximg{
    width: 100px;
    height: 100px;
    border-radius:100%;
}
